*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
# Duplicate files
*.*~
*~
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log

# Bower installations
bower_components
client/assets/lib