<div class="page-header">
    <h1>Home
        <small> This is home of the application</small>
    </h1>
</div>
<div class="well well-lg">
    <p class="bg-primary lead text-center">
        Bring in your ideas for the page
        <ol>
            <li>Dashboard</li>
            <li>News feed</li>
            <li>Notifications</li>
            <li>Next event</li>
            <li>Last event's details</li>
            <li class="text-danger">Email me or Renju. Or you can update in
                <a href="https://github.com/kochi-noders/member-portal/wiki/User-Stories:-Ideas-to-be-integrated-into-the-application">Wiki</a>
            </li>
        </ol>
    </p>
</div>
